Tasks-To-Complete.txt
scripts/__pycache__/printinfo.cpython-37.pyc
scripts/__pycache__/notification.cpython-37.pyc
scripts/__pycache__/awsinformation.cpython-37.pyc
terraform.tfvars
*.plan
terraform.tfstate
terraform.tfstate.backup
terraform-provider-aws_v2.5.0_x4.exe
azure.credentials
lock.json
terraform-provider-azurerm_v1.24.0_x4.exe
terraform-provider-random_v2.1.1_x4.exe
